/* Master styles*/
*{
margin: 0px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {

    text-align: center;
    background-color: #000D16;
    font-size: xx-large;
    color: aliceblue;
    object-position: top;
    
    
}

.background-image
{
    background-image: url(Mosaic/Background.png);
margin: 0;
padding: 0;
 height: 100vh;
 background-size:contain;
 background-repeat:repeat; 
 background-position:center;
 background-attachment: fixed;
}

nav {

    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    font-size: auto;
    padding: 5px;
    background-color: white; /*Ivory, midnightblue, honeydew, #000D16*/
    height: auto;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    font-weight: normal;

}

nav a{
    color: #000D16;
    text-decoration: none;
    transition: color 0.5s;
}
nav:hover{
    transition: 1s;
    border-bottom: 1px solid black;
    font-weight: normal;
    font-size: auto;
}

nav a:hover{
    transition: 1s;
    border: #79A1B8; /* #79A1B8 */
    color: #79A1B8;
}

.contact-table > table
                        {
 background-color: #000D16;
 text-align: left;
color: aliceblue;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: large;
                            }
.product-catalog > table
                            {                     
    position:relative;
    object-position: center;
    text-align: center;
    color: #000D16;
    width: 100%;
                            
                            }

   .product-catalog > table img
                            {                     
    width: 70%;
                            }
                            
                            .product-catalog > table img:hover{
                                transition: 0.5s;
                                color: aqua;
                                size: 80%;
                            }

                            .product-catalog > Table button
                            {
                                    height: 30px;
                                    background-color: white;
                                    border-color: #000D16;
                                    box-shadow: #79A1B8;
                                    border-radius: 30px;
                            
                                

                            }
                            .product-catalog > Table button:hover
                            {
                                    height: 30px;
                                    
                                    transition: 1s;
                                    color: #79A1B8;
                                    background-color: azure;

                                

                            }

                            .navigation-grid > section > table
                            {
                                padding: 10px;
                                position: relative;
                            }
    .navigation-grid > section > table video
    {
        width: 100%;
        opacity: 90%;

    }
 .product-catalog > table input
                            {                     
    width: 20px;
                            }
.trending-items > table
                            {
                                color: #000D16;
                                
                            }
                            .trending-items > table button
                            {
                                height: 30px;
                                    background-color: white;
                                    border-color: #000D16;
                                    box-shadow: #79A1B8;
                                    border-radius: 30px;
                            
                            }                         
                            .trending-items > table button:hover
                                                            {
                                                                height: 30px;
                                    
                                                                transition: 1s;
                                                                color: #79A1B8;
                                                                background-color: azure;
                                                            }

.new-arrivals-table > table
                            {

                                width:100%;

                            }
                            .new-arrivals-table > table img
                                                            {                
                                                                width:70%;   
                                                            }
                                                            .new-arrivals-table > table button
                                                                                                {
                                                                                                    height: 30px;
                                                                                                    background-color: white;
                                                                                                    border-color: #000D16;
                                                                                                    box-shadow: #79A1B8;
                                                                                                    border-radius: 30px;
                            
                                                                                                }
                                                                                                .new-arrivals-table > table button:hover
                                                                                                {
                                                                                                    height: 30px;
                                                                                                    transition: 1s;
                                                                                                    color: #79A1B8;
                                                                                                    background-color: azure;
                                                                                                }
                            
                                                                                                .navigation-grid-2
                                                                                                {
                                                                                                    display: grid;
                                                                                                    width: 100%;
                                                                                                    grid-template-columns: 30% 30% 30%;
                                                                                                    

                                                                                                }
                                                                                                .navigation-grid-2 > div video
                                                                                                {

                                                                                                    padding: 1em;
                                                                                                    
                                                                                                
                                                                                            
                                                                                                }


                                                                                            

                                                                                                /* Tutorial Styles */
.tutorial-div-container
{

    width: 100%;
    display: grid;
    grid-template-columns: 32.66% 32.66% 32.66% ;
    /* 98% 
    98/3 = 32.67
    corresponds with 10px padding in above section for navigation table */
    border-color: transparent;
    justify-content: center;
    border-width: 3%;
    /* position: absolute; - is not changing anything either */
    /* position: inherit; - cant tell what this does */




}


.tutorial-div-container > div

{
            background-color: #79A1B8;
            text-align: justify;
            justify-content: space-between;
            position: relative;

}
.tutorial-div-container > div video

{
    width: 100%;

}
.tutorial-div-container #main-column
{
    display: grid;
    grid-template-columns: 100%;

}

.main-container
{

justify-content: space-between;
max-width: 100%;
/* text-align:justify; */
text-justify:distribute;
align-content: space-between;
padding-bottom: 2px;
padding-top: 2px;

}


@media only screen and (max-width: 600px)
{
.main-container{
display: grid;
grid-template-columns: 1fr;
}

.tutorial-div-container
{
    display: grid;
    grid-template-columns: 1fr;

}
nav {font-size: xx-small;}

.main-container > div 
{
white-space:pre-line;
line-break: normal;

}

}
@media only screen and (min-width: 600px)
{
.main-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;

                                }
.tutorial-div-container
{
    display: grid;
    grid-template-columns: 1fr;
    

}
nav {font-size: x-small;}

}
@media only screen and (min-width: 768px) {
    .main-container{
        display: grid;
        grid-template-columns:  1fr 1fr;
        
    }
     
     .tutorial-div-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

nav {font-size: medium;}

}
@media only screen and (min-width: 992px)
{
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    ;}
       
        
        .tutorial-div-container
        {
            display: grid;
            grid-template-columns:1fr 1fr 1fr 
        }

        nav {font-size:larger;}
}
@media only screen and (min-width: 1200px)
{
    .main-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        
        }

        .tutorial-div-container
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr
                    
        }
        nav {font-size: xx-large;}
}

.main-container > div
{
background-color: #000D16;
color: aliceblue;


}
.main-container #Y-column
{
    background-color: aqua;
    width: 100%;
    float: left;
}

.main-container #X-column
{

    background-color: bisque;
    width: 100%;
    float: left;
}
.main-container #Coming-Soon
{
    background-color: blueviolet;
    width: 100%;
    float: left;


}