@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="grid-container">
        <div class="grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/3.gif"></div>
        <div class="grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/4.gif"></div>
        <div class="grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/6.gif"></div>
        <div class="grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/2.gif"></div>
        <div class="grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/5.gif"></div>
        <div class="grid-item"><img src="/Users/jaymoreynolds/Downloads/1.png"></div>
    </div>
    <br/> 
    <div class="photo-grid-container">
        <div class="photo-grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/3.gif"></div>
        <div class="photo-grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/4.gif"></div>
        <div class="photo-grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/6.gif"></div>
        <div class="photo-grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/2.gif"></div>
        <div class="photo-grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/5.gif"></div>
        <div class="photo-grid-item"><img src="/Users/jaymoreynolds/OneDrive - University of Cape Town/BusinessTest/BusinessTest/Media/Mosaic/1.png"></div>
    </div>

</div>

